@font-face {
  font-family: Arial;
  src: url(fonts/arial.ttf); 
}

.page {
  font-family: Arial;
  margin: 0 auto;
  width: 1280px;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}


h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 20px 0;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 15px 0;
}

li {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 15px 0;
  text-align: left;
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.header {
  background: #445161;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.header-content {
  margin: 0 20px 0 0;
}

.check-icon {
  margin: 0 10px 0 0;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.about-text {
  width: 500px;
}

.about-title {
  text-align: left;
}

.about-image {
  width: 430px;
  height: 245px;
}


.pluses {
  padding: 50px;
  background: #F5F5F5;
}

.pluses-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pluses-box {
  display: flex;
  justify-content: start;
  padding: 0 0 20px 0;
}

.p-pluses-icon {
  min-width: 32px;
  height: 32px;
  background: #445161;
  padding: 6px;
  margin: 0 10px 0 0;
}

.p-pluses-text {
  width: 90%;
  margin: 0 20px 0 0;
}



.screenshots {
  padding: 50px;
}

.screenshots-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.screenshots-box {
  display: flex;
  justify-content: start;
  width: 50%;
}

.screenshots-img {
  width: 200px;
  height: 150px;
  background: #445161;
  margin: 0 15px 30px 0;
}

.screenshots-text {
  width: 60%;
  margin: 0 20px 0 0;
}


.reviews {
  padding: 50px;
  background: #F5F5F5;
}

.reviews-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews-box {
  display: flex;
  justify-content: start;
  margin: 0 0 24px 0;
}

.reviews-img {
  width: 75px;
  height: 75px;
  margin: 0 5px 30px 0;
}

.round {
  border-radius: 50%;
}

.reviews-text {
  padding: 16px 20px 16px 27px;
  width: 483px;
  min-height: 121px;
  margin-left: 15px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  }
  
.reviews-text:before {
  content: "";
  border: 15px solid transparent;	
  border-right: 15px solid #ccc;
  position: absolute;
  top: 20px;
  left: -30px;
}

.reviews-p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}

.reviews-author {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
  margin: 0;
}

.buy {
  padding: 50px;
}

.buy-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

.buy-item {
  background: #445161;
  width: 25%;
  margin: 0 20px 0 0;
  border-radius: 5px;
  padding: 0 0 20px 0;
}

.buy-title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  padding: 16px 5px;
  margin: 0;
  display: block;
}

.buy-value {
  background: #ffffff;
  border: 2px solid #445162;
  text-align: center;
  padding: 18px 0;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  margin: 0 0 20px 0;
}

.buy-list {
  list-style-type: decimal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 0 20px;
}

.buy-btn {
  margin: 20px 20px 0px 20px;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  border: 2px solid#445161;
}

.buy-btn:hover {
  background-color: #445161;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.buy-btn:active {
  background-color: #333333;;
  color: #ffffff;
}

.contacts {
  padding: 50px 0 0 0;
  background: #445161;
  display: flex;
  flex-direction: column;
}

.contacts-title {
  color: #ffffff;
  padding: 0 50px;
}

.contacts-block {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}

.contacts-form {
  width: 500px;
  margin: 0 50px 20px 0;
  background: #445161;
  display: flex;
  flex-direction: column;
}

.contacts-form-field {
  background: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 7px 0 0 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
  margin: 0 0 20px 0;
}

input {
  outline: none; 
  border: none;

}

input[type="submit"] {
  width: 140px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  border: 2px solid #ffffff;
}

input[type="submit"]:hover {
  background-color: #445161;
  border: 2px solid #ffffff;
  color: #ffffff;
}

input[type="submit"]:active {
  background-color: #333333;;
  border: 2px solid #ffffff;
  color: #ffffff;
}
 
.contacts-form-field-text {
width: 100%;
height: 170px;
background: #ffffff;
border-radius: 5px;
padding: 7px 0 0 10px;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #445162;
margin: 0 0 20px 0;
}

textarea {
  resize: none;
  outline: none; 
  border: none;
}

.contacts-btn-block {
  justify-content: center;
  display: flex;
}

.contacts-items {
  width: 300px;
  height: 300px;
  background: #445161;
  display: flex;
  flex-direction: column;
}

.contact-icon {
  margin: 0 10px -7px 0; 
}

.contacts-list {
font-size: 24px;
line-height: 24px;
font-weight: 400;
color: #ffffff;
margin: 5px 0 20px 10px;
text-decoration: none;
}

.socialbuttons {
  display: flex;
}

.link {
width: 44px;
height: 44px;
margin: 0 5px 0 0;
background: url(../img/freeflatsocialicons.png);
}

.link:nth-child(1) {
  background-position: 0 0;
}

.link:nth-child(1):hover {
  background-position: 0 44px;
}

.link:nth-child(2) {
  background-position: 44px 0;
}

.link:nth-child(2):hover {
  background-position: 44px 44px;
}

.link:nth-child(3) {
  background-position: 94px 0;
}

.link:nth-child(3):hover {
  background-position: 94px 44px;
}

.link:nth-child(4) {
  background-position: 148px 0;
}

.link:nth-child(4):hover {
  background-position: 148px 44px;
}

.copyright {
  background: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}